site_name: Python Analytics Playground
site_description: Training materials for transitioning from R and SPSS to Python and pandas
site_author: Internal Training Team
site_url: https://gitlab.td.gfk.com/mm/pet/analysis/data-wizardry-with-python/

# Repository
repo_name: data-wizardry-with-python
repo_url: https://gitlab.td.gfk.com/mm/pet/analysis/data-wizardry-with-python

# Theme
theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - tables
  - footnotes

# Navigation
nav:
  - Home: index.md
  - Getting Started:
    - 01 Installation: getting-started/01-installation.md
    - 02 Installing Python: getting-started/02-python.md
    - 03 Using uv: getting-started/03-uv.md
    - 04 Running Notebooks: getting-started/04-notebooks.md
    - 05 Quick Start: getting-started/05-quickstart.md
    - Git Guide: getting-started/git-guide.md
  - Guides:
    - Python Basics for Analysts: guides/python_basics_for_analysts.md
    - pandas:
      - Overview: guides/pandas/overview.md
      - Cheat Sheet: guides/pandas/cheat_sheet.md
    - R to Python: guides/r-to-python.md
    - SPSS to Python: guides/spss-to-python.md
  - Notebooks:
    - 01 Introduction & Data Loading: notebooks/01_into_and_data_loading.ipynb
    - 02 Selection & Indexing: notebooks/02_selection_and_indexing.ipynb
    - 03 Cleaning & Transformations: notebooks/03_cleaning_and_transformations.ipynb
    - 04 Merging & Joining: notebooks/04_merging_and_joining.ipynb
    - 05 GroupBy & Aggregation: notebooks/05_groupby_and_aggregation.ipynb
    - 06 Reshaping & Pivoting: notebooks/06_reshaping_and_pivoting.ipynb
    - 07 Exporting & Saving: notebooks/07_exporting_and_saving.ipynb
  - Reference:
    - Cheat Sheets: cheatsheets/cheatsheets.md
    - Glossary: reference/glossary.md
    - Resources: reference/resources.md

# Plugins
plugins:
  - search

# Extra
extra:
  social:
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.td.gfk.com/mm/pet/analysis/data-wizardry-with-python
